body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: #f7f7f7;
  background-image: url('https://img.freepik.com/free-vector/programmers-concept-with-flat-design_23-2147848240.jpg?size=626&ext=jpg&ga=GA1.2.54712589.1667792506&semt=ais'); 
  background-size: cover;
  opacity: 1;
}

.typing-game-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  top: -17%;
  left:30%
}

.content {
  background: rgba(255, 226, 200, 0.9);
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  max-width: 500px;
  width: 100%;
}

.heading {
  font-size: 24px;
  margin-bottom: 20px;
}

.sentence p {
  font-size: 18px;
  margin: 0;
}

.nextchar {
  font-size: 14px;
  margin: 10px 0;
}

textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  resize: none;
  margin-bottom: 10px;
}

button {
  background: #4caf50;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  margin-left: 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background 0.3s ease;
}

button:hover {
  background: #1d5d20;
}

.features {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.individualfeatures {
  flex: 1;
  margin-right: 10px;
}

.individualfeatures p {
  margin: 0;
}


